$color-base: #4d4d4d;
$color-strong: #000000;
$color-invert: #ffffff;
$color-bg-highlight: #666666;

body {
  margin: 0;
  padding: 0;
  background: #e6e6e6;
  font-family: "Trebuchet MS", sans-serif;
  color: $color-base;
  font-size: 14px;
}

h1, h2 {
  font-family: TimesNewRoman, "Times New Roman", Times, serif;
  color: $color-strong;
}

footer {
  background: $color-bg-highlight;
}

.logo {
  color: #ffc2dd;
  text-decoration: none;
  font-weight: strong;
  font-size: 4.3rem;
}

.logo--secondary {
  color: $color-invert;
  font-size: 2.2rem;
}
