/* CONFIG ------------------------------------------------------------------- */

$color-base: #4d4d4d;
$color-strong: #000000;
$color-invert: #ffffff;
$color-highlight: #666666;
$color-separate: #cccccc;
$color-brand: #d3135a;
$color-border: #898989;
$spacing: 1rem;
$spacing-small: 0.5rem;
$spacing-large: 2rem;
$base-size: 14px;
$font: "Trebuchet MS", sans-serif;

/* GENERAL ------------------------------------------------------------------ */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body, ul, h1, h2 {
  margin: 0;
  padding: 0;
}

body {
  background: #e6e6e6;
  font-family: $font;
  color: $color-base;
  font-size: $base-size;
}

h1, h2 {
  font-family: TimesNewRoman, "Times New Roman", Times, serif;
  color: $color-strong;
  padding-bottom: $spacing-small;
}

h1 {
  font-size: 2.2rem;
}

h2 {
  font-size: 1.5rem;
}

p {
  margin: 0 0 $spacing 0;
  line-height: 1.3rem;
}

p:last-child {
  margin: 0;
}

p, a, ul, li, button, input, textarea, label {
  font-size: $base-size;
}

a {
  color: #0071bc;
}

.container {
  margin: 0 $spacing 0 $spacing;
}

/* NAVS --------------------------------------------------------------------- */

.nav {
  list-style: none;
}

.nav__link a {
  color: $color-invert;
  text-decoration: none;
}

/* FOOTER ------------------------------------------------------------------- */

.footer {
  background: $color-highlight;
  color: #b3b3b3;
  text-align: justify;
  padding: $spacing-large 0 $spacing-large 0;
}

.footer__nav {
  columns: 2;
  text-align: center;
  margin-bottom: $spacing;
}

.footer__link  {
  margin-bottom: $spacing-small;
}

.back-to-top {
  background: $color-separate;
  width: 100%;
  border: none;
  height: $spacing-large;
  position: fixed;
  bottom: 0;
  left: 0;
  opacity: 0.7;
  text-transform: uppercase;
}

/* BOXES  ------------------------------------------------------------------- */

.box {
  padding: $spacing;
  background: $color-invert;
  margin-bottom: $spacing;
}

.box--dark {
  background: $color-separate;
}

/* HEADER ------------------------------------------------------------------- */

/* temp */
header nav, header ul { display: none}

.header {
  background: $color-brand;
  padding: $spacing-large $spacing;
  margin-bottom: $spacing-large;
}

/* FORM --------------------------------------------------------------------- */
.form {
  margin-bottom: $spacing;
  border: 1px solid $color-border;
  padding: $spacing;
}

.form__row {
  margin-bottom: $spacing;
}

.field {
  display: block;
  width: 100%;
  border: 1px solid $color-border;
  padding: $spacing-small;
  margin-top: $spacing-small;
}

.field--large {
  height: 7rem;
}

.button {
  color: $color-invert;
  background: $color-brand;
  border: none;
  text-transform: uppercase;
  font-family: $font;
  letter-spacing: 2px;
  padding: $spacing-small $spacing-large;
}

label {
  color: $color-strong;
}
/* OTHER -------------------------------------------------------------------- */

/* --- LOGO --- */

.logo {
  color: #ffc2dd;
  text-decoration: none;
  font-weight: strong;
  font-size: 3rem;
}

.logo--secondary {
  color: $color-invert;
  font-size: 2.2rem;
  display: block;
  text-align: center;
}

/* --- LINKLIST --- */

.linklist {
  list-style: none;
}

.linklist__link a {
  display: block;
  text-decoration: none;
  padding: $spacing-small 0 $spacing-small 0;
  border-bottom:  1px solid $color-separate;
}

.linklist__link:last-child a {
  border: none;
  padding-bottom: 0;
}

/* --- OTHER --- */

.article-header {
  border-bottom:  2px solid $color-strong;
  margin-bottom: $spacing;
}
