$color-base: #4d4d4d;
$color-strong: #000000;
$color-invert: #ffffff;
$color-highlight: #666666;
$color-separate: #cccccc;
$color-brand: #d3135a;
$color-border: #898989;
$color-bg: #e6e6e6;
$spacing: 1.4rem;
$spacing-small: 0.5rem;
$spacing-large: 2rem;
$base-size: 14px;
$font: "Trebuchet MS", sans-serif;
$mobile-nav: 270px;
$close-button: 2rem;
$mobile-wide: 34rem;
$tablet: 40rem;
$desktop: 60rem;
$arrow-size: 0.7rem;
