@import "config";
@import "general";
@import "nav";

/* CONTAINER ---------------------------------------------------------------- */

.container {
  margin: 0 $spacing;
}

@media (min-width: $desktop) {
  .container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1038px; // 1010 + 2 * padding
    padding-left: $spacing;
    padding-right: $spacing;

    &--flex {
      display: flex;
      justify-content: space-between;
    }
  }

  .container--main {
    display: flex;
  }

  .sidebar {
    flex: 0 0 20rem;
    margin-left: $spacing;
  }
}

/* FOOTER ------------------------------------------------------------------- */

.footer {
  background: $color-highlight;
  color: #b3b3b3;
  padding: $spacing-large 0 $spacing-large + $spacing 0;
  text-align: justify;
}

@media (min-width: $tablet) {
  .footer {
    padding-top: $spacing;
  }

  .footer__info {
    align-items: flex-end;
    display: flex;

    .logo {
      margin-left: $spacing-large;
      text-align: right;
      white-space: nowrap;
    }

    p {
      margin-bottom: 0;
      text-align: left;
    }
  }
}

@media (min-width: $desktop) {
  .footer {
    padding-bottom: $spacing;
  }
}

/* HEADER ------------------------------------------------------------------- */

.header {
  background: $color-brand;
  margin-bottom: $spacing-large;
  padding: $spacing-large 0;

  @media (min-width: $desktop) {
    padding-bottom: 0;
  }
}

/* BOXES  ------------------------------------------------------------------- */

.box {
  background: $color-invert;
  margin-bottom: $spacing;
  padding: $spacing;
}

.box--dark {
  background: $color-separate;

  @media (min-width: $mobile-wide) {
    column-gap: $spacing-large;
    columns: 2;
  }

  @media (min-width: $tablet) {
    columns: 3;
  }
}

/* FORMS -------------------------------------------------------------------- */

.form {
  border: 1px solid $color-border;
  margin-bottom: $spacing;
  padding: $spacing;
}

.form__row {
  margin-bottom: $spacing;
}

.field {
  border: 1px solid $color-border;
  display: block;
  margin-top: $spacing-small;
  padding: $spacing-small;
  width: 100%;
}

.field--large {
  height: 7rem;
}

label {
  color: $color-strong;
}

/* LOGO --------------------------------------------------------------------- */

.logo {
  color: #ffc2dd;
  font-size: 3rem;
  font-weight: bold;
  text-decoration: none;
}

.logo--secondary {
  color: $color-invert;
  display: block;
  font-size: 2.2rem;
  text-align: center;
}

@media (min-width: $desktop) {
  .logo--primary {
    align-self: flex-end;
    font-size: 4.2rem;
    line-height: 3.6rem;
    padding-bottom: $spacing;
  }
}

/* BUTTONS ------------------------------------------------------------------ */

.button {
  background: none;
  border: 0;
  color: $color-strong;
  display: block;
  font-family: $font;
  padding: 0;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.button--cta {
  background: $color-brand;
  color: $color-invert;
  letter-spacing: 2px;
  padding: $spacing-small $spacing-large;
}

.button--totop {
  background: $color-separate;
  bottom: 0;
  height: $spacing-large;
  left: 0;
  opacity: 0.7;
  padding: $spacing-small;
  position: fixed;
  width: 100%;

  @media (min-width: $desktop) {
    display: none;
  }
}

.button--nav {
  color: $color-invert;
  float: right;
  font-size: 2rem;
  line-height: 4rem;

  @media (min-width: $desktop) {
    display: none;
  }
}

.button--close {
  color: $color-invert;
  display: block;
  font-size: $close-button;
  height: $close-button;
  left: $spacing-small;
  line-height: $close-button;
  position: absolute;
  top: $spacing-small;
  width: $close-button;
}

/* OTHER -------------------------------------------------------------------- */

.article-header {
  border-bottom: 2px solid $color-strong;
  margin-bottom: $spacing;
}

.sidebar__left {
  margin-bottom: $spacing;
}

@media (min-width: $mobile-wide) {
  .related-content {
    display: flex;

    & .box {
      flex: 1;
      margin-left: $spacing-small;
      margin-right: $spacing-small;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .sidebar__content {
    display: flex;
  }

  .sidebar__left {
    flex: 1;
    margin-right: $spacing-small;
  }

  .sidebar__right {
    flex: 1;
    margin-left: $spacing-small;
  }
}

@media (min-width: $desktop) {
  .sidebar__content {
    display: block;
  }

  .sidebar__left {
    margin-right: 0;
  }

  .sidebar__right {
    margin-left: 0;
  }
}

.hide {
  display: none;
}

.error {
  div {
    color: $color-brand;
    font-style: italic;
    font-size: 0.8em;
  }
  label {
    color: $color-brand;
  }
  input,
  textarea {
    border-color: $color-brand;
  }
}
