@import 'config';
@import 'general';
@import 'nav';

/* CONTAINER ---------------------------------------------------------------- */

.container {
  margin: 0 $spacing 0 $spacing;

  &--flex {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: $desktop) {

  .container {
    max-width: 1038px; // 1010 + 2 * padding
    margin-left: auto;
    margin-right: auto;
    padding-left: $spacing;
    padding-right: $spacing;
  }

  .container--main {
    display: flex;
  }

  .sidebar {
    flex: 0 0 20rem;
    margin-left: $spacing;
  }
}


/* FOOTER ------------------------------------------------------------------- */

.footer {
  background: $color-highlight;
  color: #b3b3b3;
  text-align: justify;
  padding: $spacing-large 0 $spacing-large+$spacing 0;
}

@media (min-width: $tablet) {
  .footer {
      padding-top: $spacing;
  }

  .footer__info {
    display: flex;
    align-items: flex-end;

    .logo {
      white-space: nowrap;
      text-align: right;
      margin-left: $spacing-large;
    }

    p {
      text-align: left;
      margin-bottom: 0;
    }
  }
}

@media (min-width: $desktop) {
  .footer {
    padding-bottom: $spacing;
  }
}

/* HEADER ------------------------------------------------------------------- */

.header {
  background: $color-brand;
  padding: $spacing-large 0;
  margin-bottom: $spacing-large;

  @media (min-width: $desktop) {
    padding-bottom: 0;
  }
}

/* BOXES  ------------------------------------------------------------------- */

.box {
  padding: $spacing;
  background: $color-invert;
  margin-bottom: $spacing;
}

.box--dark {
  background: $color-separate;

  @media (min-width: $mobile-wide) {
    column-gap: $spacing-large;
    columns: 2;
  }

  @media (min-width: $tablet) {
    columns: 3;
  }
}

/* FORMS -------------------------------------------------------------------- */

.form {
  margin-bottom: $spacing;
  border: 1px solid $color-border;
  padding: $spacing;
}

.form__row {
  margin-bottom: $spacing;
}

.field {
  display: block;
  width: 100%;
  border: 1px solid $color-border;
  padding: $spacing-small;
  margin-top: $spacing-small;
}

.field--large {
  height: 7rem;
}

label {
  color: $color-strong;
}

/* LOGO --------------------------------------------------------------------- */

.logo {
  color: #ffc2dd;
  text-decoration: none;
  font-weight: bold;
  font-size: 3rem;
}

.logo--secondary {
  color: $color-invert;
  font-size: 2.2rem;
  display: block;
  text-align: center;
}

@media (min-width: $desktop) {
  .logo--primary {
    font-size: 4.2rem;
    line-height: 3.6rem;
    align-self: flex-end;
    padding-bottom: $spacing;
  }
}

/* BUTTONS ------------------------------------------------------------------ */

.button {
  border: none;
  background: none;
  text-transform: uppercase;
  font-family: $font;
  padding: 0;
  display: block;
  text-decoration: none;
  color: $color-strong;
  text-align: center;
}

.button--cta {
  color: $color-invert;
  background: $color-brand;
  letter-spacing: 2px;
  padding: $spacing-small $spacing-large;
}

.button--totop {
  background: $color-separate;
  width: 100%;
  height: $spacing-large;
  padding: $spacing-small;
  position: fixed;
  bottom: 0;
  left: 0;
  opacity: 0.7;

  // FIXME
  @media (min-width: $desktop) {
    display: none;
  }
}

// FIXME
.button--nav {
  color: $color-invert;
  font-size: 2rem;

  @media (min-width: $desktop) {
    display: none;
  }
}

.button--close {
  color: $color-invert;
  font-size: $close-button;
  height: $close-button;
  width: $close-button;
  display: block;
  line-height: $close-button;
  position: absolute;
  top: $spacing-small;
  left: $spacing-small;
}

/* OTHER -------------------------------------------------------------------- */

.article-header {
  border-bottom:  2px solid $color-strong;
  margin-bottom: $spacing;
}

@media (min-width: $mobile-wide) {

  .related-content {
    display: flex;

    & .box {
      margin-left: $spacing-small;
      margin-right: $spacing-small;
      flex: 1;

      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }

}

.hide {
  display: none;
}
