.container {
  margin: 0 $spacing 0 $spacing;
}

/* FOOTER ------------------------------------------------------------------- */

.footer {
  background: $color-highlight;
  color: #b3b3b3;
  text-align: justify;
  padding: $spacing-large 0 $spacing-large+$spacing 0;
}

.footer__nav {
  columns: 2;
  text-align: center;
  margin-bottom: $spacing;
}

.footer__link  {
  margin-bottom: $spacing-small;
}

/* HEADER ------------------------------------------------------------------- */

/* temp */
header nav, header ul { display: none}

.header {
  background: $color-brand;
  padding: $spacing-large 0;
  margin-bottom: $spacing-large;
}

.header__container {
  display: flex;
  justify-content: space-between;
}
