.nav {
  list-style: none;
}

/* MAIN NAV LAYOUT ---------------------------------------------------------- */

.content {
  transform: translate3d(0);
  transition: 0.3s ease all;
}

.navbox {
  background: $color-bg;
  height: 100%;
  left: -$mobile-nav;
  overflow: scroll;
  position: absolute;
  top: 0;
  width: $mobile-nav;
  z-index: 1;
}

// FIXME
.overlay {
  background: rgba(0, 0, 0, 0);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;

  @media (min-width: $desktop) {
    display: none;
  }
}

.viewnav {
  // FIXME ON DESKTOP
  &.app {
    height: 100vh;
    overflow: hidden;
    width: 100%;
  }

  .content {
    height: 100%;
    transform: translate3d($mobile-nav, 0, 0);
  }

  .overlay {
    background: rgba(0, 0, 0, 0.5);
    z-index: 2;
  }
}

@media (min-width: $desktop) {
  .navbox {
    background: transparent;
    display: flex;
    flex-direction: column;
    height: 7rem;
    justify-content: space-between;
    overflow: visible;
    position: static;
    width: auto;
  }

  .nav--secondary {
    display: flex;
    justify-content: flex-end;
  }

  .nav--main {
    display: flex;
    justify-content: flex-end;
  }

  .nav__item--top {
    padding-bottom: $spacing;
    position: relative;

    &:hover .nav--sub {
      display: block;
      opacity: 1;
      visibility: visible;
    }

    &.nav__item > a {
      background: none;
      font-size: 1.4rem;
    }

    &:hover > a {
      color: #333;
    }
  }

  // FIXME
  .nav--sub {
    display: none;
    left: -50%;
    opacity: 0;
    position: absolute;
    top: $spacing * 2;
    transition: all 0.5s ease;
    visibility: hidden;

    &::after {
      border: solid transparent;
      border-bottom-color: $color-base;
      border-width: $arrow-size;
      bottom: 100%;
      content: " ";
      height: 0;
      left: 50%;
      margin-left: -$arrow-size;
      pointer-events: none;
      position: absolute;
      width: 0;
    }
  }
}

/* NAV ITEMS COLORS/SIZES/ETC ----------------------------------------------- */

.nav__item {
  border-bottom: 1px solid $color-separate;

  a {
    display: block;
    text-decoration: none;
  }

  &:last-child {
    border-bottom: 0;
  }

  .nav--list & {
    padding: $spacing-small 0;
  }

  .nav--secondary & a {
    color: $color-base;
    padding: $spacing;
  }

  .nav--main & {
    border-color: $color-border;

    a {
      background: $color-separate;
      color: $color-base;
      padding: $spacing;
    }
  }

  .nav--main &--top > a {
    background: $color-highlight;
    color: $color-invert;
  }

  .nav--footerlinks & {
    padding-bottom: $spacing-small;
  }

  .nav--sub & {
    margin-left: 0;
  }
}

.nav--footerlinks {
  columns: 2;
  margin-bottom: $spacing;
  text-align: center;

  .nav__item {
    border-bottom: 0;
    margin-bottom: $spacing-small;

    a {
      color: $color-invert;
    }
  }
}

@media (min-width: $mobile-wide) {
  .nav--footerlinks {
    columns: 3;
  }
}

@media (min-width: $tablet) {
  .nav--footerlinks {
    columns: 1;
    display: flex;

    & .nav__item {
      border-right: 1px solid $color-invert;
      margin: 0;
      padding: 0 $spacing-small;

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        border: 0;
      }
    }
  }
}

@media (min-width: $desktop) {
  .nav__item {
    .nav--secondary & {
      border: 0;
      margin-left: $spacing;

      a {
        color: $color-strong;
        padding: 0;
      }
    }

    .nav--main & {
      border: 0;
      margin-left: $spacing;

      a {
        color: $color-invert;
        padding: 0;
      }
    }

    .nav--sub & {
      a {
        background: $color-base;
        color: $color-invert;
        padding: $spacing-small;
        white-space: nowrap;
      }

      &:hover a {
        background: $color-highlight;
        color: $color-invert;
      }
    }
  }
}
