.navbox {
  position: absolute;
  background: $color-bg;
  top: 0;
  left: -$mobile-nav;
  width: $mobile-nav;
  height: 100%;
  z-index: 1;
  overflow: scroll;
}


.content {
  transform: translate3d(0);
  transition: .3s ease all;

  .viewnav & {
    transform: translate3d($mobile-nav, 0, 0);
  }
}

.nav {
  list-style: none;
}

.nav__item {

  a {
    text-decoration: none;
    display: block;
  }

  border-bottom:  1px solid $color-separate;
  &:last-child {
    border-bottom: none;
  }

  .nav--list & {
    padding: $spacing-small 0 $spacing-small 0;
  }

  .nav--secondary & a {
    padding: $spacing;
    color: $color-base;
  }

  .nav--main &  {
    border-color: $color-border;

    a {
      padding: $spacing;
      color: $color-base;
      background: $color-separate;
    }
  }

  .nav--main &--top>a {
    background: $color-highlight;
    color: white;
  }

}
