.nav {
  list-style: none;
}

.nav__item {

  a {
    text-decoration: none;
    display: block;
  }

  border-bottom:  1px solid $color-separate;
  &:last-child {
    border-bottom: none;
  }

  .nav--list & {
    padding: $spacing-small 0 $spacing-small 0;
  }

  .nav--secondary & a {
    padding: $spacing;
    color: $color-base;
  }

  .nav--main &  {
    border-color: $color-border;

    a {
      padding: $spacing;
      color: $color-base;
      background: $color-separate;
    }
  }

  .nav--main &--top>a {
    background: $color-highlight;
    color: white;
  }

  .nav--footerlinks & {
    padding-bottom: $spacing-small;
  }

}

.nav--footerlinks {
  columns: 2;
  text-align: center;
  margin-bottom: $spacing;

  .nav__item {
    margin-bottom: $spacing-small;
    border-bottom: none;

    a {
      color: $color-invert;
    }

  }
}

@media (min-width: $mobile-wide) {
  .nav--footerlinks {
    columns: 3;
  }
}
